@import './base.css';

body{
  background-color: var(--color-backgrund);
  background: url('../assets/png/bg-map.png') center;
  background-position: center;
  background-size: 110%;/*按比例缩放*/
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

#app{
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
}


/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
